---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<!-- <section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
        
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}
        
    </div>
</section> -->

<!-- <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="/assets/images/web.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="/assets/images/meb.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="/assets/images/winter-web.jpg" style="width:100%">
    </div>
   -->
    <!-- Next and previous buttons -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div> -->
  
<!-- Dots for navigation -->
<!-- <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
</div> -->

<!-- <img src="/assets/images/Campus.jpg" style="width:100%"> -->
<section class="content">
  <h2>About Us</h2>
  <h6>
    Grad-CS Women is a welcoming community dedicated to helping computer science graduate students at the University of Utah develop the skills they need to thrive in their programs. Learn more about this new community <a href="https://gradcswomen-utah.github.io/about" style="color: #990000;">here!</a> 
    Curious about joining Grad-CS Women? Visit our <a href="https://gradcswomen-utah.github.io/get-involved" style="color: #990000;;">Get Involved</a> page to learn more. <br>
    Want to know about upcoming events? Head over to our <a href="https://gradcswomen-utah.github.io/events" style="color: #990000;;">Events</a> page. <br>
    Interested in conference and scholarship opportunities? Take a look at our <a href="https://gradcswomen-utah.github.io/resources" style="color: #990000;;">Resources</a> page. <br>
    And don't miss our <a href="https://gradcswomen-utah.github.io/blog" style="color: #990000;;">Blog</a>, where we dive into all things CS!
  </h6>
</section>
<img src="/assets/images/library.jpg" style="width:100%"> 
{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">
        <br />

        <h2><span>Recent Blog Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
==================================================>
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div -->

<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    // Function to show slides
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
    
      // Wrap slide index if out of bounds
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
    
      // Hide all slides and remove active class from all dots
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
    
      // Show the current slide and set the active dot
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    
    // Function to move to the next/previous slide
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    // Function to set the current slide based on dot click
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    // Auto-advance slides every 3 seconds
    setInterval(() => plusSlides(1), 4000);
    </script>