---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<!-- <section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
        
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}
        
    </div>
</section> -->
<div class="slideshow-container">
    <div class="mySlides fade">
      <img src="/assets/images/web.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="/assets/images/meb.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <img src="/assets/images/winter-web.jpg" style="width:100%">
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev-main" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next-main" onclick="plusSlides(1)">&#10095;</a>
</div>
  
<!-- Dots for navigation -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
</div>


{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">
        <br />

        <h2><span>All Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
==================================================>
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div -->

<script>
    let slideIndex = 1;
    showSlides(slideIndex);
    
    // Function to show slides
    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
    
      // Wrap slide index if out of bounds
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
    
      // Hide all slides and remove active class from all dots
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
    
      // Show the current slide and set the active dot
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    
    // Function to move to the next/previous slide
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    // Function to set the current slide based on dot click
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    // Auto-advance slides every 3 seconds
    setInterval(() => plusSlides(1), 2000);
    </script>