
/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.member-section-title {
	text-align: center;
}

.past-members-table {
	margin-bottom: 2rem;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "stars"
;